:root {
    --primary: #FF8F7E;
    --secondary: #C2F1FF;
    --beige: #f8f7f1;
    --light-blue: #E5FAF9;
    --light-purple: #f8f1f8;
    --dark-green: #286f6c;
    --sandy: #fcc95d;
    --aqua: #5BFCF4;
    --dark-purple: #998599;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--light-blue);
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

#logo {
    font-size: 150%;
}

nav a {
    text-decoration: none;
    color: #000;
}

#navOptions a{
    padding: 0 1em;
}

#intro {
    padding: 2.5em;
    box-sizing: border-box;
}

#name {
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
}

#intro h2 {
    font-weight: 300;
    margin: .5em 0;
}

picture {
    display: block;
    text-align: center;
    object-fit: contain;
}

#portfolio
{
    background-color: #FFF;
}

.portfolioProjects {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    background-color: #FFF;
    border-radius: 5px;
    background-image: url(../images/expand.svg);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

#myProjects {
    background-color: #FFF;
}

#myProjects h1 {
    padding: 2% 0;
    text-align: center;
}

#projectScroll {
    display: flex;
    flex-direction: column ;
}

.project {
    position: relative;
    width: 20em;
    border-radius: 25px;
    margin: 0 1.5em 3em 1.5em;
}

.project img {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--dark-purple);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 25px;
}
.project:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
  color: var(--light-blue);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text span{
    font-size: 30px;
    display: block;
}

#contact {
    background-color: var(--light-purple);
}

#aboutMe {
    width: 60%;
    margin: 0 auto 3em auto;
    background-color: #FFF;
    padding: 1em 5em;
    border-radius: 2.5em;
    box-sizing: border-box;
}

#aboutMe h2 {
    font-weight: 300;
}

#contactLinks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 2em auto 1em auto;
}

#contactMe {
    font-size: larger;
    text-decoration: none;
    background-color: var(--dark-purple);
    color: #FFF;
    padding: .5em 1em;
    border-radius: 5px;
}

#social a {
    margin: 0 1.5em;
}

@media only screen and (min-width: 60em) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40em;
    }
    
    #intro {
        position: relative;
        width: 70%;
        margin: auto auto;
        background-image: none;
    }
    
    #name {
        font-size: 225%;
    }
    
    #intro h1 {
        font-size: 200%;
    }
    
    #intro h2 {
        font-size: 200%;
    }
    
    #intro p {
        margin: 0
    }
    
    #profile-picture img {
        height: 100%;
    }

    
    #projectScroll {
        flex-direction: row;
    }

    #myProjects {
        /* background-color: #FFF; */
        grid-column: 1 / span 2;
    }

    #contact {
        grid-column: 1 / span 2;
    }

    #contact h1 {
        text-align: center;
        padding: 2em 0;
    }
}


@media only screen and (min-width: 90em) {
    main {
        grid-template-rows: 50em;
    }
    
    #intro {
        padding: 10em 5em;
    }
}